* {
    margin: 0;
}

body {
    font-family: Arial;
    font-size: 20px;
    line-height: 23px;
}

.wrap {
    width: 1180px; 
    margin: 0 auto;
}

.center {
    padding: 0 calc(50% - 1190px / 2);
}

.product {
padding-top: 25px;
padding-bottom: 25px;
background-color: #445161;
color: #fff;
}

.product-wrap {
    display: flex;
    justify-content: space-between;
}

.product-title {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 20px;
}

.product-list {
    list-style-image: url(../img/Vector.png) ;
    list-style-position: outside;
}

.product-list-item {
    font-size: 20px;
    line-height: 35px;
    
    
}

/* about */

.about {
    padding-top: 45px;
    padding-bottom: 50px;
}

.about-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-pic {
    margin-left: 60px;
}
.about-title {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    margin-bottom: 1em;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 1em;
}

/* pluses */

.pluses {
    background: #F5F5F5;
    padding-top: 15px;
    padding-bottom: 15px;
}

.pluses-title {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #445161;
    margin-bottom: 1em;
}

.pluses-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pluses-item::before {
    content: "+";
    font-size: 20px;
    line-height: 1;
    padding: 6px 12px;
    background-color: #445161;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 7px;
}

.pluses-item {
    width: 568px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 2em;
    display: flex;
    align-items: flex-start;
}

/* screen */


.screen-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.screen-item {
    width: 575px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.screen-item img {
    margin-right: 20px;
}

.screen-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #445161;
    text-align: center;
    padding: 25px 0 50px 0;
}

.screen-heading {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 13px;
}

.screen-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

/* Reviews */

.reviews {
    background: #F5F5F5;
}

.reviews-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.reviews-item {
    width: 575px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.reviews-pic {
    margin-right: 16px;
}
.reviews-right {
    background: #EBEBEB;
    margin-right: 28px;
}

.reviews-text {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.reviews-lourens {
    font-size: 14px;
    line-height: 18px;
    color: #989898;
}

.reviews-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #445161;
    text-align: center;
    padding: 25px 0 50px 0;
}

/* price */


.price-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #445161;
    text-align: center;
    padding: 25px 0 50px 0;
}


.price-box {
    display: inline-block;
    text-align: center;
    background: #445161;
    border-radius: 5px;
    margin-right: 19px;
}

.price-list {
    width: 300px;
}

.box-title {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 13px;
    margin-top: 13px;
}

.price-item {
    list-style-position: inside;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
}

.box-price {
    font-size: 40px;
    line-height: 67px;
    height: 71px;
    background: #fff;
    text-align: center;
    border: 3px solid #445162;
    color: #445162;

}

.price-list {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 13px 0 16px 20px;
}

.box-buy {
    line-height: 43px;
    font-size: 18px;
    text-transform: uppercase;
    width: 262px;
    background: #FFFFFF;
    height: 40px;
    font-weight: 700;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #445161;
}

.list-price {
    padding-bottom: 45px;
}


/* contacts */

.contacts-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 25px 0 50px 0;
}

.contacts {
    background-color: #445162;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.contacts-form {
    width: 500px;
    display: flex;
    flex-direction: column;

}

.form-field {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    padding: 12px;
    font-family: inherit;
    border: none;
    border-radius: 5px;
}

.form-comment {
    resize: none;
}

.form-btn {
    width: 145px;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #445162;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 10px;
    padding: 7px 0;
}

.contacts-box {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}


.contats-rigth {
    font-size: 16px;
    line-height: 43px;
    color: #FFFFFF;
}

.content-text-skype {
    padding-left: 28px;
    background-position-x: 1px;
    background-position-y: 10px;
    background-image: url(../img/skype\ icon.png);
    background-repeat: no-repeat;
    

}

.content-text-isq {
    padding-left: 28px;
    background-position-x: 1px;
    background-position-y: 10px;
    background-image: url(../img/icq\ icon.png);
    background-repeat: no-repeat;
}

.content-text-email {
    padding-left: 28px;
    background-position-x: 1px;
    background-position-y: 10px;
    background-image: url(../img/email\ icon.png);
    background-repeat: no-repeat;
}

.content-text-phone {
    padding-left: 28px;
    background-position-x: 1px;
    background-position-y: 10px;
    background-image: url(../img/bx_bx-phone.png);
    background-repeat: no-repeat;
}

.contacts-icon {
    margin-top: 50px;
}


/* footer */

.footer {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #445162;
    text-align: center;
    padding-top: 26px;
}